<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="2dof_robot">
  <!-- Used for fixing robot -->
<link name="base_link"/>
<xacro:arg name="axisparent" default="base_link" />
<xacro:arg name="prefix" default="" />
<xacro:arg name="axisend_link" default="end_link" />



  <xacro:include filename="$(find igus_axis_description)/urdf/igus_axis_description.urdf.xacro" />

</robot>
