<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find igus_axis_description)/urdf/igus_axis_macro.xacro" />


  <!-- Import Rviz colors -->
  <xacro:include filename="$(find igus_axis_description)/urdf/igus_axis_material.xacro" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find igus_axis_description)/urdf/igus_axis.ros2_control.xacro" />


  <xacro:rrbot axisparent="$(arg axisparent)" prefix="$(arg prefix)" axisend_link="$(arg axisend_link)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:rrbot>

  <xacro:rrbot_ros2_control    namae="RRBot" prefix="$(arg prefix)" axis_ip="$(arg axis_ip)" />

</robot> 