<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="igus_axis">
  <!-- Used for fixing robot -->
<link name="world"/>

  <joint name="joint_world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link" />
  </joint>



  <xacro:include filename="$(find igus_axis_description)/urdf/igus_axis.urdf.xacro" />

</robot>
